.container {
    background: #EDEDE9;
    display: flex;
    width: auto;
    height: 901px;
    justify-content: center;
    align-items: center;
}

.child-ab {
    background: #EDEDE9;
    width: 800px;
    height: 500px;
    font-size: 22px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 15px;
}