{% extends "layout.html" %}
{% block content%}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>

    <div class="container">
        <div class="child-ab">
            <h2 style="text-align: justify; margin: 10px;">Despre Noi</h2>
            <hr>
            <p style="text-align: justify; margin: 10px;">
                Suntem o <b>echipă formată din tineri</b> cu înaltă pregătire în domeniu
                și cu experiență în cele mai noi și performante tehnologii a codurilor de bare
            </p>
            <p style="text-align: justify; margin: 10px;">
                <b>Profesionalismul, seriozitatea, pasiunea, consecvența </b> ne definesc în tot ceea ce facem.
            </p>
            <p style="text-align: justify; margin: 10px;">
               <b>Suntem furnizori de soluții complete </b> în domeniul tehnologiei
               codurilor de bare, o echipă pregatită de orice provocare din partea
               clienților noștrii pentru a maximiza beneficiile investițiilor.
            </p>
            <p style="text-align: justify; margin: 10px;">
                Construirea <b>unei relații puternice cu clienții noștrii</b> a devenit un
                principiu care ne ghidează munca de zi cu zi!
            </p>
            <p style="text-align: justify; margin: 10px;">
                Firme cu care colaboram in momentul de fata: <b>BOS AUTOMOTIVE, HUTCHINSON, DEDEMAN, HAMILTON CENTRAL EUROPE,
                GUALAPACK NADAB, ELBA SA, PANEMAR, PAMBAC SRL, INTERSNACK, CATENA,</b>
                pentru mai multe detalii legat de prospecti nostri va rugam sa ne contactati !
            </p>
        </div>
    </div>

</body>
{% endblock content %}